<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<h2 id="profileName"> <%= profile.name %> </h2>
<img id="profileAv" src="<%= profile.avatar %>"  alt="No Image">

<div class="dog-entry">
<button > <a class="text-decoration-none" href="/profiles/< new"> Add a Dog!</a></button>
</div>

<%- include('../partials/footer') %>