<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<h2 id="profileName"> <%= profile.name %> </h2>
<img id="profileAv" src="<%= profile.avatar %>"  alt="No Image">

<div class="dog-entry">
<button > <a class="text-decoration-none" href="/dogs/new"> Add a Dog!</a></button>
</div>

<% if (profile.dogs) { %>
<% profile.dogs.forEach(dog => { %>
  <h2>Dog:</h2>
  <h3> Name: <%= dog.name %> </h2>
  <h3> Breed: <%= dog.breed %> </h2>
  <h3> Favorite Toy: <%= dog.favToy %> </h3>
<a href=""><button></button></a>
  
<% }) %>
 <% } %>


<%- include('../partials/footer') %>