<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<h2 id="profileName"> <%= profile.name %> </h2>
<img id="profileAv" src="<%= profile.avatar %>"  alt="No Image">

<button > <a href="/profiles/new"> Add a Dog!</a></button>


<%- include('../partials/footer') %>