<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
  <title><%= title %> </title>
</head>
<body>
  <h2>Add your Dog's favorite place</h2>
<form action="/favPlaces" method="POST">
  <input type="text" name="name">
  <button type="submit"> Add favPlace </button>
</form>

<h3> Dog's Favorite Places: </h3>
  <h4>
    <% favPlaces.forEach(favPlace => { %>
      <p> favPlace : <%= favPlace.name %> </p>
    <% }) %> 

    </h4>
<%- include('../partials/footer') %>