<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>


  <h2><strong><%= title %></strong> </h2>
  <h3> Breed : <%= dog.breed %> </h3>
  <h3> Favorite Toy:  <%= dog.favToy %> </h3>
  <a href="/favPlaces/new"><button>Add Favorite Place</button></a>



<%- include('../partials/footer') %>